<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>家园共育</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <script type="text/javascript" src="{JS_PATH}js/jquery-3.2.1.min.js"></script>
    <script src="{JS_PATH}js/tab.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{CSS_PATH}css/public.css">
    <link rel="stylesheet" href="{CSS_PATH}css/list_jygy.css"/>
    <script type="text/javascript" src="{JS_PATH}js/shipu.js"></script>
</head>
<body>
<!--导航-->
{template "content","header"}
<!--banner-->
<img src="{IMG_PATH}img/list_jygy/inoculation_banner.png" alt="" class="banner"/>

<!--主体-->
<main>
    <!--每周食谱-->
    <div class="mzsp">
        <div class="center">
            <img src="{IMG_PATH}img/list_jygy/txt.png" alt="" class="mzspicon">
        </div>
        <div class="box center">
            <ul>
                {pc:content action="lists" catid="38" moreinfo="1" num="4" order="id ASC"  page="$page"}
                {loop $data $r}
                <li class="curr">
                    <div class="content">
                        <p>{$r[title]}</p>
                        <div class="recipeNav">
                            <a>星期一</a>
                            <a>星期二</a>
                            <a>星期三</a>
                            <a>星期四</a>
                            <a>星期五</a>
                        </div>
                        {$r[content]}
                    </div>
                </li>
                {/loop}
                {/pc}
                <!--<li>-->
                    <!--<div class="content">-->
                        <!--<p>2010年3月2日&#45;&#45;&#45;&#45;3月5日</p>-->
                        <!--<div class="recipeNav">-->
                            <!--<a>星期一</a>-->
                            <!--<a>星期二</a>-->
                            <!--<a>星期三</a>-->
                            <!--<a>星期四</a>-->
                            <!--<a>星期五</a>-->
                        <!--</div>-->
                        <!--<table>-->
                            <!--<tr>-->
                                <!--<td>早餐</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>加餐</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>午餐</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>加餐</td>-->
                                <!--<td>苹果</td>-->
                                <!--<td>香蕉</td>-->
                                <!--<td>梨</td>-->
                                <!--<td>橘子</td>-->
                                <!--<td>葡萄</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>晚餐</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="content">-->
                        <!--<p>2010年3月3日&#45;&#45;&#45;&#45;3月5日</p>-->
                        <!--<div class="recipeNav">-->
                            <!--<a>星期一</a>-->
                            <!--<a>星期二</a>-->
                            <!--<a>星期三</a>-->
                            <!--<a>星期四</a>-->
                            <!--<a>星期五</a>-->
                        <!--</div>-->
                        <!--<table>-->
                            <!--<tr>-->
                                <!--<td>早餐</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>加餐</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>午餐</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>加餐</td>-->
                                <!--<td>苹果</td>-->
                                <!--<td>香蕉</td>-->
                                <!--<td>梨</td>-->
                                <!--<td>橘子</td>-->
                                <!--<td>葡萄</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>晚餐</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="content">-->
                        <!--<p>2010年3月4日&#45;&#45;&#45;&#45;3月5日</p>-->
                        <!--<div class="recipeNav">-->
                            <!--<a>星期一</a>-->
                            <!--<a>星期二</a>-->
                            <!--<a>星期三</a>-->
                            <!--<a>星期四</a>-->
                            <!--<a>星期五</a>-->
                        <!--</div>-->
                        <!--<table>-->
                            <!--<tr>-->
                                <!--<td>早餐</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>加餐</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>午餐</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>加餐</td>-->
                                <!--<td>苹果</td>-->
                                <!--<td>香蕉</td>-->
                                <!--<td>梨</td>-->
                                <!--<td>橘子</td>-->
                                <!--<td>葡萄</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>晚餐</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li>-->
                    <!--<div class="content">-->
                        <!--<p>2010年3月5日&#45;&#45;&#45;&#45;3月5日</p>-->
                        <!--<div class="recipeNav">-->
                            <!--<a>星期一</a>-->
                            <!--<a>星期二</a>-->
                            <!--<a>星期三</a>-->
                            <!--<a>星期四</a>-->
                            <!--<a>星期五</a>-->
                        <!--</div>-->
                        <!--<table>-->
                            <!--<tr>-->
                                <!--<td>早餐</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                                <!--<td>松子大米粥<br>-->
                                    <!--煮鸡蛋<br>-->
                                    <!--豆沙包-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>加餐</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                                <!--<td>牛奶</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>午餐</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                                <!--<td>米饭<br>-->
                                    <!--珍珠鱼丸<br>-->
                                    <!--木耳园白菜<br>-->
                                    <!--冬瓜丸子汤-->
                                <!--</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>加餐</td>-->
                                <!--<td>苹果</td>-->
                                <!--<td>香蕉</td>-->
                                <!--<td>梨</td>-->
                                <!--<td>橘子</td>-->
                                <!--<td>葡萄</td>-->
                            <!--</tr>-->
                            <!--<tr>-->
                                <!--<td>晚餐</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                                <!--<td>发糕<br>-->
                                    <!--肉炒三丁<br>-->
                                    <!--熏干芹菜<br>-->
                                    <!--玉米面粥-->
                                <!--</td>-->
                            <!--</tr>-->
                        <!--</table>-->
                    <!--</div>-->
                <!--</li>-->
            </ul>
            <div class="pageN"></div>
            <div class="leftBtn" id="prev">&#xe6d4;</div>
            <div class="rightBtn" id="next" >&#xe6d7;</div>
        </div>
    </div>

    <!--儿童保健-->
    <div class="tubiao center">
        <div class="top">
            <a href="#"><img src="{IMG_PATH}img/list_jygy/icon1.jpg" alt=""><p>儿童保健</p></a>
            <a href="#"><img src="{IMG_PATH}img/list_jygy/icon2.jpg" alt=""><p>安全知识</p></a>
            <a href="#"><img src="{IMG_PATH}img/list_jygy/icon3.jpg" alt=""><p>教育计划</p></a>
        </div>
        <div class="zhuti">
            <img src="{IMG_PATH}img/list_jygy/inoculation_mainborder.png" alt="" class="huangtiao">
            <ul>
                <li>
                    <img src="{IMG_PATH}img/list_jygy/inoculation_child.png" alt="">
                    <div class="tubiaotxt">
                        <h5>雾霾天气注意孩子健康</h5>
                        <p>近日，全国各地又出现了雾霾天，加上天气转凉，非常容易造成孩子患上呼吸道常见疾病。为保证幼儿身体健康，请家长们与我们一起做好以下防护工作：一、注意环境变化　1、雾霾……</p>
                    </div>
                </li>
                <li>
                    <img src="{IMG_PATH}img/list_jygy/inoculation_child.png" alt="">
                    <div class="tubiaotxt">
                        <h5>雾霾天气注意孩子健康</h5>
                        <p>近日，全国各地又出现了雾霾天，加上天气转凉，非常容易造成孩子患上呼吸道常见疾病。为保证幼儿身体健康，请家长们与我们一起做好以下防护工作：一、注意环境变化　1、雾霾……</p>
                    </div>
                </li>
                <li>
                    <img src="{IMG_PATH}img/list_jygy/inoculation_child.png" alt="">
                    <div class="tubiaotxt">
                        <h5>雾霾天气注意孩子健康</h5>
                        <p>近日，全国各地又出现了雾霾天，加上天气转凉，非常容易造成孩子患上呼吸道常见疾病。为保证幼儿身体健康，请家长们与我们一起做好以下防护工作：一、注意环境变化　1、雾霾……</p>
                    </div>
                </li>
                <li>
                    <img src="{IMG_PATH}img/list_jygy/inoculation_child.png" alt="">
                    <div class="tubiaotxt">
                        <h5>雾霾天气注意孩子健康</h5>
                        <p>近日，全国各地又出现了雾霾天，加上天气转凉，非常容易造成孩子患上呼吸道常见疾病。为保证幼儿身体健康，请家长们与我们一起做好以下防护工作：一、注意环境变化　1、雾霾……</p>
                    </div>
                </li>
                <li>
                    <img src="{IMG_PATH}img/list_jygy/inoculation_child.png" alt="">
                    <div class="tubiaotxt">
                        <h5>雾霾天气注意孩子健康</h5>
                        <p>近日，全国各地又出现了雾霾天，加上天气转凉，非常容易造成孩子患上呼吸道常见疾病。为保证幼儿身体健康，请家长们与我们一起做好以下防护工作：一、注意环境变化　1、雾霾……</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</main>

<!--以下是页脚-->
{template "content","footer"}

</body>
</html>