<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>家长课堂</title>
    <meta name="keywords" content="{$SEO['keyword']}">
    <meta name="description" content="{$SEO['description']}">
    <script type="text/javascript" src="{JS_PATH}js/jquery-3.2.1.min.js"></script>
    <script src="{JS_PATH}js/tab.js" type="text/javascript"></script>
    <link rel="stylesheet" href="{CSS_PATH}css/public.css">
    <link rel="stylesheet" href="{CSS_PATH}css/list_jzkt.css"/>
</head>
<body>
<!--导航-->
{template "content","header"}
<!--banner-->
<div class="bannerdingwei">
    <img src="{IMG_PATH}img/list_jzkt/parent_banner.png" alt="" class="list_jzktbanner"/>
    <div class="bannerzhuti">
        <div class="neirong">
            <p>2017.09.28.  上午9：00-11：00</p>
            <p>“运动小超人”亲子活动</p>
            <p>克莱博特幼儿园“运动小超人”游戏活动，让家长朋友和宝贝们，一同度过了欢乐的亲子时光！</p>
        </div>
        <img src="{IMG_PATH}img/list_jzkt/parent_teacher.png" alt="" class="teacher"/>
        <img src="{IMG_PATH}img/list_jzkt/parent_child.png" alt="" class="child"/>
    </div>
</div>
<!--主体-->
<div class="jzkt center">
        <h6>往期活动<br><span>PAST ACTIVITIES</span></h6>
    <div class="zhuti">
        <ul>
            <li>
                <div class="left"><img src="{IMG_PATH}img/list_jzkt/flower.png"></div>
                <div class="right">
                    <h2>中二班家长进课堂活动——手工花盆</h2>
                    <h3><span>&#xe606;</span>2017年09月04日</h3>
                    <p>在阳光明媚的5月27日上午，中二班的妈咪课堂又开课啦！我们美丽的路易妈妈要教我们制作漂亮的DIY花！让孩子做手工除了锻炼孩子的动手能力外，还能够增进感情，是改善亲子关系的好活动。孩子动手的同时也在动脑。制作手工的过程也是学习知识的过程，使孩子在玩中自然愉快地学习。</p>
                </div>
                <a href="" class="ckxq">查看详情></a>
            </li>
            <li>
                <div class="left"><img src="{IMG_PATH}img/list_jzkt/flower.png"></div>
                <div class="right">
                    <h2>中二班家长进课堂活动——手工花盆</h2>
                    <h3><span>&#xe606;</span>2017年09月04日</h3>
                    <p>在阳光明媚的5月27日上午，中二班的妈咪课堂又开课啦！我们美丽的路易妈妈要教我们制作漂亮的DIY花！让孩子做手工除了锻炼孩子的动手能力外，还能够增进感情，是改善亲子关系的好活动。孩子动手的同时也在动脑。制作手工的过程也是学习知识的过程，使孩子在玩中自然愉快地学习。</p>
                </div>
                <a href="" class="ckxq">查看详情></a>
            </li>
            <li>
                <div class="left"><img src="{IMG_PATH}img/list_jzkt/flower.png"></div>
                <div class="right">
                    <h2>中二班家长进课堂活动——手工花盆</h2>
                    <h3><span>&#xe606;</span>2017年09月04日</h3>
                    <p>在阳光明媚的5月27日上午，中二班的妈咪课堂又开课啦！我们美丽的路易妈妈要教我们制作漂亮的DIY花！让孩子做手工除了锻炼孩子的动手能力外，还能够增进感情，是改善亲子关系的好活动。孩子动手的同时也在动脑。制作手工的过程也是学习知识的过程，使孩子在玩中自然愉快地学习。</p>
                </div>
                <a href="" class="ckxq">查看详情></a>
            </li>
            <li>
                <div class="left"><img src="{IMG_PATH}img/list_jzkt/flower.png"></div>
                <div class="right">
                    <h2>中二班家长进课堂活动——手工花盆</h2>
                    <h3><span>&#xe606;</span>2017年09月04日</h3>
                    <p>在阳光明媚的5月27日上午，中二班的妈咪课堂又开课啦！我们美丽的路易妈妈要教我们制作漂亮的DIY花！让孩子做手工除了锻炼孩子的动手能力外，还能够增进感情，是改善亲子关系的好活动。孩子动手的同时也在动脑。制作手工的过程也是学习知识的过程，使孩子在玩中自然愉快地学习。</p>
                </div>
                <a href="" class="ckxq">查看详情></a>
            </li>
            <li>
                <div class="left"><img src="{IMG_PATH}img/list_jzkt/flower.png"></div>
                <div class="right">
                    <h2>中二班家长进课堂活动——手工花盆</h2>
                    <h3><span>&#xe606;</span>2017年09月04日</h3>
                    <p>在阳光明媚的5月27日上午，中二班的妈咪课堂又开课啦！我们美丽的路易妈妈要教我们制作漂亮的DIY花！让孩子做手工除了锻炼孩子的动手能力外，还能够增进感情，是改善亲子关系的好活动。孩子动手的同时也在动脑。制作手工的过程也是学习知识的过程，使孩子在玩中自然愉快地学习。</p>
                </div>
                <a href="" class="ckxq">查看详情></a>
            </li>
        </ul>
        <div class="fanye">
            <a>< 上一页</a>
            <a class="cur">1</a>
            <a>2</a>
            <a>3</a>
            <a>4</a>
            <a>5</a>
            <a>下一页 ></a>
        </div>
    </div>
</div>


<!--以下是页脚-->
{template "content","footer"}
</body>
</html>